version: "3.9"

services:
  UserSystem-Backend:
    container_name: usersystem-backend
    image: usersystem
    build: .
    working_dir: /tmp
    volumes:
      - .:/tmp
      - ~/.m2:/root/.m2      #to use with installed maven package
    ports:
      - 4000:4000
    command: mvn spring-boot:run -Dspring.profiles.active=postgres,configs
    depends_on:
      - dbpostgresql

  dbpostgresql:
    container_name: dbpostgresql
    image: postgres
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mXhsxH8BkC
      POSTGRES_DB: usersystemdb

volumes:
  pgdata: {}